@model TableTop2017CoreWeb.Models.AdminEditRoundMatchupsViewModel


@{
    ViewData["Title"] = "MatchupsEdit";
}

<h2>MatchupsEdit</h2>

<h4>RoundMatchups</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PlayerOneId" class="control-label"></label>
                <select asp-for="PlayerOneId">
                    @foreach (var item in Model.Players)
                    {
                        <option selected="@(item.Id == Model.PlayerOneId)" value="@item.Id">
                            @item.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="PlayerOneId" class="text-danger"></span>
            </div>
            @if (Model.PlayerTwoId != 0.5)
            {
                <div class="form-group">
                    <label asp-for="PlayerTwoId" class="control-label"></label>
                    <select asp-for="PlayerTwoId">
                        @foreach (var item in Model.Players)
                        {
                            <option selected="@(item.Id == Model.PlayerTwoId)" value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                    <span asp-validation-for="PlayerTwoId" class="text-danger"></span>
                </div>
            }
            @if (Model.PlayerThreeId != 0.5) {
                <div class="form-group">
                    <label asp-for="PlayerThreeId" class="control-label"></label>
                    <select asp-for="PlayerThreeId">
                        @foreach (var item in Model.Players)
                            {
                                <option selected="@(item.Id == Model.PlayerThreeId)" value="@item.Id">
                                    @item.Name
                                </option>
                            }
                    </select>
                    <span asp-validation-for="PlayerThreeId" class="text-danger"></span>
                </div>
            }
            @if (Model.PlayerFourId != 0.5) {
                <div class="form-group">
                    <label asp-for="PlayerFourId" class="control-label"></label>
                    <select asp-for="PlayerFourId">
                        @foreach (var item in Model.Players)
                            {
                                <option selected="@(item.Id == Model.PlayerFourId)" value="@item.Id">
                                    @item.Name
                                </option>
                            }
                    </select>
                    <span asp-validation-for="PlayerFourId" class="text-danger"></span>
                </div>
            }
            <p class="text-danger">@TempData["Errors"]</p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

