@model IEnumerable<TableTop2017CoreWeb.Models.RoundMatchup>

@{
    ViewData["Title"] = "Matchups";
}

<h2>Admin - Round @Model.FirstOrDefault().RoundNo</h2>
<h4 class="alert-warning">@ViewData["Errors"]</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerOne.SportsmanshipScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerOne.BattleScore)
                </th>
                <th>
                    Team One
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Table)
                </th>
                <th>
                    Team Two
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerTwo.BattleScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerTwo.SportsmanshipScore)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            @if (item is PairRoundMatchup)
            {
                @Html.Partial("_PairRoundMatchupTableBodyItem", item as PairRoundMatchup)
            }
            else if (item is RoundMatchup)
            {
                @Html.Partial("_RoundMatchupTableBodyItem", item)
            }                
        }
    </tbody>
    </table>


@Html.ActionLink("Confirm Matchups", "", "RoundMatchups", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Validate Matchups", "ValidateRoundMatchups", "Admin", Model.FirstOrDefault().RoundNo, new { @class = "btn btn-primary" })
@Html.ActionLink("Reset Matchups", "ResetRoundMatchups", "Admin", null, new { @class = "btn btn-primary" })

@if(ViewData["DuplicatePlayers"] != null || ViewData["DuplicateOpponents"] != null || ViewData["OverallocatedPlayers"] != null || ViewData["UnallocatedPlayers"] != null)
{
    <h4 class="alert-danger">
        If there are errors not applicable to the current round, it is recommended you fix them in the All Rounds page before proceeding
    </h4> 
}

<div class="mt-xs">
        <p class="text-danger">@ViewData["DuplicatePlayers"]</p>
        <p class="text-danger">@ViewData["DuplicateOpponents"]</p>
        <p class="text-danger">@ViewData["OverallocatedPlayers"]</p>
        <p class="text-danger">@ViewData["UnallocatedPlayers"]</p>
</div>
