@model TableTop2017CoreWeb.Models.RoundMatchupEditViewModel

@{
    ViewData["Title"] = "RoundMatchupEdit";
}

<h2>AllRoundsEdit</h2>

<h4>RoundMatchups</h4>
<hr />

<form asp-action="RoundMatchupEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="RoundNo"/>
    <div class="row">
        <div class=" text-center col-md-9">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PlayerOneId" class="control-label"></label>
                    <select asp-for="PlayerOneId">
                        @foreach (var item in Model.Players)
                        {
                            <option selected="@(item.Id == Model.PlayerOneId)" value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                    <span asp-validation-for="PlayerOneId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerOneBattleScore" class="control-label"></label>
                    <input asp-for="PlayerOneBattleScore" class="form-control" />
                    <span asp-validation-for="PlayerOneBattleScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerOneSportsmanshipScore" class="control-label"></label>
                    <input asp-for="PlayerOneSportsmanshipScore" class="form-control" />
                    <span asp-validation-for="PlayerOneSportsmanshipScore" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-1"><h3 class="mt-xs">VS.</h3></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PlayerTwoId" class="control-label"></label>
                    <select asp-for="PlayerTwoId">
                        @foreach (var item in Model.Players)
                        {
                            <option selected="@(item.Id == Model.PlayerTwoId)" value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                    <span asp-validation-for="PlayerTwoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerTwoBattleScore" class="control-label"></label>
                    <input asp-for="PlayerTwoBattleScore" class="form-control" />
                    <span asp-validation-for="PlayerTwoBattleScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlayerTwoSportsmanshipScore" class="control-label"></label>
                    <input asp-for="PlayerTwoSportsmanshipScore" class="form-control" />
                    <span asp-validation-for="PlayerTwoSportsmanshipScore" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
    
<div>
    <a asp-action="AllRounds" asp-controller="Admin">Back to List</a>
</div>

