@model IEnumerable<TableTop2017CoreWeb.Models.RoundMatchups>

@{
    ViewData["Title"] = "AllRounds";
    var DuplicateOpponents = (Dictionary<Player, List<Player>>)TempData["DuplicateOpponents"];

}

<h2>AllRounds</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoundNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOneBattleScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwoBattleScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwo.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOneSportsmanshipScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwoSportsmanshipScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoundNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneBattleScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoBattleScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOne.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneSportsmanshipScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoSportsmanshipScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Table)
                </td>
                <td>
                    <a asp-action="AllRoundsEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Show Matchups", "ValidateAllMatchups", "RoundMatchups", null, new { @class = "btn btn-primary" })

<div class="mt-xs">
    @if (DuplicateOpponents != null && DuplicateOpponents.Count != 0)
    {
        @foreach (KeyValuePair<Player, List<Player>> entry in DuplicateOpponents)
        {
            if (entry.Value.Count() != 0) {
                <p class="alert-warning">@entry.Key.Name <span>@foreach (Player player in entry.Value) { <span>has played</span> @player.Name; } <span>more than once</span></span></p>
            }
        }
    }
 
</div>
