@model IEnumerable<TableTop2017CoreWeb.Models.RoundMatchup>

@{
    ViewData["Title"] = "Index";
    var first = Model.FirstOrDefault();
}

<h2 class="text-secondary">Round Matchups - Round @first.RoundNo</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne.Army)
            </th>
            <th>
                Team One
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th>
                Team Two
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwo.Army)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item is PairRoundMatchup)
            {
                @Html.Partial("_PairRoundMatchupTableBodyItem", item as PairRoundMatchup)
            }
            else if (item is RoundMatchup)
            {
                @Html.Partial("_RoundMatchupTableBodyItem", item)
            }                
        }
    </tbody>
</table>


<div class="col-md-3 mt-sm">
    @Html.ActionLink("Input Results", "Index", "Results", null, new { @class = "btn btn-primary" })
</div>
    @*@Html.Partial("_Sidebar")*@


