@model IEnumerable<TableTop2017CoreWeb.Models.RoundMatchups>

@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoundNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOneSportsmanshipScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOneBattleScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwoBattleScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwoSportsmanshipScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoundNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneSportsmanshipScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneBattleScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOne.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Table)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoBattleScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoSportsmanshipScore)
                </td>
                <td>
                    <a asp-action="ResultsEdit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back To Players", "UpdateBattleScores", "RoundMatchups", null, new { @class = "btn btn-primary" })
<div class="col-md-3 mt-sm">
    @Html.ActionLink("Generate Next Round", "UpdateBattleScoresContinue", "RoundMatchups", new { page = "Admin" }, new { @class = "btn btn-primary" })
</div>